1

In [31]:
n = int(input("Podaj liczbę rzędów: "))

row_counter = (n)
for i in range(1, n):
  for j in range(1, i + 1):
    print(j, end=" ")
  print()

Podaj liczbę rzędów: 8
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

2

In [26]:
n = 5

for i in range(i, n+1):
  print("*" * i)
for i in range(n-1, 0, -1):
  print("*" * i)

*
**
***
****
*****
****
***
**
*

3A

In [18]:
lista = [6, 2, 3, 7, 1, 12, 56, 99]

In [24]:
def zamien_kot(lista):
  for i in range(len(lista)):
    if isinstance(lista[i], int) and 10 <=lista[i]:
      lista[i] = "kot"

zamien_kot(lista)
print(lista)

[6, 2, 3, 7, 1, 'kot', 'kot', 'kot']

3B

In [19]:
min(lista)

1